@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "Geo sans Light";
    src: url(../fonts/GeosansLight.ttf);
}

body {
    display: flex;
    flex-direction: row;
    font-family: "Roboto";
    font-size: 1.5vw;
    color: gray;
    margin: 0;
    padding: 0;
    width: 100%;
    animation: fond_blanc 2s;
}

a {
    text-decoration: none;
    color: black;
    transition: 1s;
}

p {
    text-align: justify;
}

a:hover {
    color: #619EB7;
    transition: 0.1s;
    transform: scale(1.1);
}

h1 {
    font-size: 2.5vw;
}

.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 15%;
    height: 100%;
    font-size: 1.8vw;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pages a {
    font-size: 1.2vw;
    margin: 1vw 0 1vw 0;
}

.pages a:hover {
    font-weight: bold;
    transform: scale(1);
}

.imgMenu{
    padding: 1.5vw 1.5vw 1.5vw 1.5vw;
}

.imgMenu img {
    width: 100%;
}

.topMenuBorder{
    border-bottom: solid 1.5vw #6a93ca;
    width: 100%;
}

.middleMenuBorder{
    border-bottom: solid 2vw #6a93ca;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    padding-left: 15%;
}

.topMainBorder{
    border-bottom: solid 1.7vw #6a93ca;
    width: 100%;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw;
    box-shadow: 1px 1px 12px #555;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin-bottom: 1vw;
}

input[type=text], input[type=password] {
    color: #6a93ca;
    width: 100%;
    padding: 0.8vw;
    border: 0.1vw solid #ccc;
    border-radius: 1vw;
    box-sizing: border-box;
    margin-top: 0.5vw;
    margin-bottom: 1vw;
    resize: vertical;
    font-size: 0.9vw;
}

input:focus {
    outline: none;
}

input[type=submit] {
    background-color: #6a93ca;
    color: white;
    padding: 0.6vw 1.5vw;
    margin-bottom: 2vw;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.4vw;
    transition: 300ms;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #000000;
}

.error {
    text-align: center;
    color: #EE3831;
}

.validate {
    color: #2CC84D;
}

.profil {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modif {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.presentation, .discussions{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2vw 0 2vw;
}

.discussions{
    margin-top: 1vw;
}

table {
    border-collapse: collapse;
}

table img {
    width: 4vw;
}

table, th, td {
    border: 1px solid #6a93ca;
    text-align: center;
}
th, td{
    padding: 1vw;
}

.prev_next{
    display: flex;
    justify-content: space-around;
    margin: 1vw 0 2vw 0;
    width: 40%;
    padding-left: 2%;
}

.prev_next img {
    width: 2vw;
}

.newDiscussion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    border: 0.1vw solid #6a93ca;
    border-radius: 0.5vw;
    background: #6a93ca;
}

.newDiscussion img {
    width: 10%;
}

.newDiscussion a {
    color: white;
}
.newDiscussion a:hover {
    transform: scale(1.01);
}

#imgWithoutLink {
    width: 14%;
    height: 90%;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border: 0.1vw solid #ccc;
    border-radius: 1vw;
}

.message_state {
    display: flex;
    align-items: center;
    margin: 1vw;
}

.message_state img {
    width: 1vw;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.message {
    border-radius: 2vw;
    background: #6a93ca;
    padding: 0 1vw 0 1vw;
    color: white;
    font-size: 1vw;
}

.warning {
    color: #EE3831;
    margin-bottom: 1vw;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2vw;
    box-shadow: 1px 1px 12px #555;
    border-radius: 8px;
}

.github {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 1vw;
}

/* Animation ouverture page */
@keyframes fond_blanc
{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}