# Redirection vers HTTPS
RewriteCond %{SERVER_PORT} ^80$ [OR]
RewriteCond %{HTTPS} =off
RewriteRule ^(.*)$ https://m3104.vilminot.fr/$1 [R=301,L]

# Redirection du www vers non-www en HTTPS
RewriteCond %{HTTP_HOST} ^www\.m3104\.vilminot\.fr [NC]
RewriteRule ^(.*)$ https://m3104.vilminot.fr/$1 [R=301,L]

#--------------------------------------------------
# Le serveur doit suivre les liens symboliques :
#--------------------------------------------------

Options +FollowSymlinks

#--------------------------------------------------
# Activation du module de réécriture d'URL :
#--------------------------------------------------

RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

RewriteRule ^(discussion)-([^-\s]+)-([a-zA-Z_]+)-(\d+)$   index.php?page=$1&id=$2&action=$3&id_message=$4 [L]
RewriteRule ^([a-zA-Z]+)-([^-\s]+)-([a-zA-Z_]+)-([0-1])$   index.php?page=$1&id=$2&action=$3&value=$4 [L]
RewriteRule ^([a-zA-Z]+)-(validation)-([a-zA-Z_]+)$   index.php?page=$1&action=$2&object=$3 [L]
RewriteRule ^(home)-(\d+)-([a-zA-Z_]+)$   index.php?page=$1&pages=$2&action=$3 [L]
RewriteRule ^([a-zA-Z]+)-([^-\s]+)-([a-zA-Z_]+)$   index.php?page=$1&id=$2&action=$3 [L]
RewriteRule ^(discussion|setUser)-([^-\s]+)$   index.php?page=$1&id=$2 [L]
RewriteRule ^(lost_password)-([a-zA-Z0-9]{40})$   index.php?page=$1&token=$2 [L]
RewriteRule ^(setDatabase)-([a-zA-Z]+)$   index.php?page=$1&action=$2 [L]
RewriteRule ^([a-z]+)-([0-9]+)$   index.php?page=$1&pages=$2 [L]
RewriteRule ^([a-zA-Z_]+)$   index.php?page=$1 [L]

#--------------------------------------------------
# Gestion de l'erreur 404
#--------------------------------------------------

ErrorDocument 404 /index.php?page=error