#--------------------------------------------------
# Le serveur doit suivre les liens symboliques :
#--------------------------------------------------

Options +FollowSymlinks

#--------------------------------------------------
# Activation du module de réécriture d'URL :
#--------------------------------------------------

RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

RewriteRule ^(discussion)-([^-\s]+)-([a-zA-Z_]+)-(\d+)$   index.php?page=$1&id=$2&action=$3&id_message=$4 [L]
RewriteRule ^([a-zA-Z]+)-([^-\s]+)-([a-zA-Z_]+)-([0-1])$   index.php?page=$1&id=$2&action=$3&value=$4 [L]
RewriteRule ^(home)-(\d+)-([a-zA-Z_]+)$   index.php?page=$1&pages=$2&action=$3 [L]
RewriteRule ^([a-zA-Z]+)-([^-\s]+)-([a-zA-Z_]+)$   index.php?page=$1&id=$2&action=$3 [L]
RewriteRule ^(discussion|setUser)-([^-\s]+)$   index.php?page=$1&id=$2 [L]
RewriteRule ^(setDatabase)-([a-zA-Z]+)$   index.php?page=$1&action=$2 [L]
RewriteRule ^([a-z]+)-([0-9]+)$   index.php?page=$1&pages=$2 [L]
RewriteRule ^([a-zA-Z_]+)$   index.php?page=$1 [L]

#--------------------------------------------------
# Gestion de l'erreur 404 NOT FOUND
#--------------------------------------------------

ErrorDocument 404 /index.php?page=home
